<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>マッチ</title>

<link rel="stylesheet" href="style.css">

</head>

<body>


<div class="phone">


    <!-- 装飾 -->
    <div class="circle c1"></div>
    <div class="circle c2"></div>
    <div class="circle c3"></div>


    <h1>
        マッチ
    </h1>


    <p class="text">
        あそびかたをえらんでね！
    </p>



    <button class="box normal">

        <div class="icon blue">
            🎮
        </div>

        <span>
            通常マッチ
        </span>

        <b>›</b>

    </button>




    <button class="box rank">

        <div class="icon yellow">
            🏆
        </div>

        <span>
            ランクマッチ
        </span>

        <b>›</b>

    </button>




    <button class="box room">

        <div class="icon purple">
            👥
        </div>

        <span>
            ルーム
        </span>

        <b>›</b>

    </button>



</div>


</body>
</html>